@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);

.glimpses-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.snip1543 {
  background-color: #fff;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 280px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  transform: translateZ(0);
  box-shadow: .5rem .5rem 1rem 0px rgba(0, 0, 0, 0.5);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #b81212;
  opacity: 0.5;
  transition: all 0.45s ease;
}

.snip1543:before {
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  transform: translateY(0);
  opacity: 0.9;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  transform: skew(30deg) translateX(-20%);
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  transform: skew(-30deg) translateX(-30%);
  transition-delay: 0.1s;
}